//font-colors
$white-color: #ffffff;
$border-color: #cccccc;
$topbar-a-color: #f2f2f2;
$midbar-color: #f5f5f7;
$button-color: #baded9;
$black-color: #222222;
$portfolio-header: #333333;
$portfolio-paragraph: #737373;
$black-i-color: #212121;
$orange-color: #fed136;
$green-color: #16a085;
$grey-paragraph: #777777;
$grey-color: #f7f7f7;
$grey-contact-color: #484848;
$thick-color: #f9f9f9;
$footer-color: #555555;
$twitter-color: #00aced;
$facebook-color: #3b5998;
$google-color: #a52a2a;
$pinterest-color: #cb2028;
$contact-color: #bbbbbb;
// font-styles
$font-Open: "Open Sans", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-PT: "PT Serif", serif;
$font-Roboto: "Roboto Slab", sans-serif;
