<section class="about">
	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div class="topbar" id="topbar">
						<div class=toggle-btn id="toggle">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<ul>
							<li><a class="active" href="#">HOME</a></li>
							<li><a href="#" class="photoapp">PHOTOAPP</a></li>
							<li class="logo">
								<img class="img-fluid" src="./images/photo-top.png" alt="logoImage">
							</li>
							<li><a href="#" class="design">DESIGN</a></li>
							<li><a href="#" class="download">DOWNLOAD</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="welcome">
			<h1>Your life , a photo</h1>
			<p>print your life in a simple foto</p>
			<div class="button-welcome">
				<button class="btn">GET STARTED</button>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<ul class="socialmedia">
					<li><a href=""><i class="fab fa-twitter"></i></a></li>
					<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
					<li><a href=""><i class="fab fa-google"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
