<section class="about services-container">
	<div class="container">
		<div class="services">
			<div class="services-header">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<h4>REPRESENT YOUR LIFE WITH A SIMPLE PHOTO</h4>
						<p class="services-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
						<div class="button-welcome">
							<button class="btn">GET STARTED</button>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<img class="img-fluid" src="./images/mid-phone-one.png" alt="mid-phone-one">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>