<section class="container">
	<div class="services">
		<div class="services-header">
			<h2>Services</h2>
			<p>Lorem ipsum lorem ipsum lorem ipsum</p>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img class="img-fluid" alt="service1Image">
				<p class="services-main-paragraph">E-commerence</p>
				<p class="services-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img class="img-fluid" alt="service2Image">
				<p class="services-main-paragraph">Responsive Web</p>
				<p class="services-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img class="img-fluid" alt="service3Image">
				<p class="services-main-paragraph">Web Security</p>
				<p class="services-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
			</div>
		</div>
	</div>
</section>