<div class="calendar-background">
    <section class="container">
        <div class="calendar">
            <div class="calendar-row">
                <div class="absolute">
                    <img class="img-fluid" alt="about1Img">
                </div>
            </div>
            <div class="calendar-row">
                <div class="calendar-right-text">
                    <div>
                        <h5>OUR COMMUNITY</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, </p>
                    </div>
                </div>
            </div>
            <div class="calendar-row-second">
                <img class="img-fluid" alt="about5Img">
            </div>
            <div class="calendar-row-second">
                <img class="img-fluid" alt="about5Img">
            </div>
        </div>
    </section>
</div>