<div class="contact-background">
	<section class="container">
		<div class="contact">
			<div class="row">
				<div class="col-12">
					<h6>SUBSCRIBE TO US COMMUNITY</h6>
				</div>
			</div>
			<div class="container">
				<form>
					<div class="input">
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="name">
									<label for="inputYourName"></label>
									<input type="text" class="form-control" id="inputYourName" placeholder="YOUR NAME*"
										required="">
								</div>
								<div class="email">
									<label for="exampleInputEmail1"></label>
									<input type="email" class="form-control" id="inputEmail" placeholder="YOUR E-MAIL*"
										required="">
								</div>
								<div class="subject">
									<label for="inputSubject"></label>
									<input type="text" class="form-control" id="inputSubject" placeholder="SUBJECT"
										required="">
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="message"></label>
									<textarea type="text" form="usrform" class="form-control status-box" rows="6"
										placeholder="YOUR MESSAGE*" required=""></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="input btn-background">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<div class="form-group">
									<input class="btn btn-send" type="submit" value="SEND MESSAGE">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>